{#
  Display a formatted summary of CiviCRM-specific data.

  @param array systemInfo: the results from System.get API, e.g.
    - civi: array
      - dev: bool
      - components: array(string $componentName)
      - extensions: array(string $extension => string $status)
 #}
{% macro civi_summary(systemInfo) %}

    <table class="table table-striped">
        <tbody>
        <tr>
            <td class="col-md-1"><label>Components</label></td>
            <td class="col-md-8">{{ systemInfo.civi.components | join(', ') }}</td>
        </tr>
        <tr>
            <td class="col-md-1"><label>Developmental</label> (git/svn)</td>
            <td class="col-md-8">{{ systemInfo.civi.dev ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <td class="col-md-1"><label>Extensions</label></td>
            <td class="col-md-8">
                {% for ext, status in systemInfo.civi.extensions|sort %}
                    <code>{{ ext }}</code>{% if status != 'installed' %}(<em>{{ status }}</em>){% endif %}{% if not loop.last %},{% endif %}
                {% endfor %}
            </td>
        </tr>
        {% if systemInfo.civi.multidomain is defined %}
            <tr>
                <td class="col-md-1"><label>Multidomain</label></td>
                <td class="col-md-8">{{ systemInfo.civi.multidomain ? 'Yes' : 'No' }}</td>
            </tr>
        {% endif %}
        {% if systemInfo.civi.settings is defined %}
            {% for iniKey, iniValue in systemInfo.civi.settings %}
                <tr>
                    <td class="col-md-1"><span class="badge">setting</span> <label>{{ iniKey }}</label></td>
                    <td class="col-md-8"><code>{{ iniValue | json_encode }}</code></td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endmacro %}
