{% extends 'base.html.twig' %}

{% block title %}{% trans %}Site Snapshot{% endtrans %} ({{ snapshot.pubId }}){% endblock %}
{% block stylesheets %}
    <link href="{{ asset('bundles/civicxnprofile/profile.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>{% trans %}Site Snapshot{% endtrans %}
            <small>({{ snapshot.pubId }})</small>
        </h1>
        <small>{{ snapshot.timestamp | date }}</small>
    </div>

    {#
      Note: We want to display an anonymized version of systemInfo, and there may be some
      fields with identifying information. There, we don't blindly dump everything to the
      screen. Instead, display a set of curated fields.
    #}
    {% from "CiviCxnProfileBundle:Public:system_summary.html.twig" import system_summary %}
    {{ system_summary(snapshot.data.values.0) }}
{% endblock %}
