{% extends 'base.html.twig' %}

{% block title %}Profile Settings{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('bundles/civicxnprofile/profile.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}

    <div class="alert alert-info cxn-jumbo" role="alert">
        {% trans %}If you seek support for CiviCRM in an online forum, it will help to publish up-to-date technical
        details about your system (such as the version of CiviCRM, type of CMS, and list of PHP extensions). Simply
        share this anonymized link:{% endtrans %}
        <br><br>
        <a target="_blank"
           href="{{ url('org_civicrm_profile_view', {'pubId': settings.pubId}) }}">{{ url('org_civicrm_profile_view', {'pubId': settings.pubId}) }}</a>
    </div>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="form-group {% if form.expires.vars.errors|length > 0 %} has-error{% endif %}">
        {{ form_label(form.expires) }}
        <p>{% trans %}You may automatically unpublish the site profile after the chosen date.{% endtrans %}</p>
        {{ form_widget(form.expires) }}
        {{ form_errors(form.expires) }}
    </div>

    {{ form_end(form) }}
{% endblock %}
